body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  color: #434455;
  background: #fff;
}

/* -----------    Top-line    --------- */

/* .heder {
}
.top-line-nav {
} */

.top-line-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-clr {
  color: #2e2f42;
}

.menu-list {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
}

.menu-list:hover .menu-list:focus {
  color: #404bbf;
}

/* .menu-item {
} */

.menu-link {
  color: #2e2f42;
}

.menu-link:hover {
  color: #404bbf;
}

.menu-link:focus {
  color: #404bbf;
}

/* -----------    Top-line end    -------- */

/* -----------    Contacts    --------- */

.contacts-title {
  font-style: normal;
}
/*
.contacts-list {
}*/

.contacts-item:hover {
  color: #404bbf;
}

.contacts-item:focus {
  color: #404bbf;
}
.contacts-item {
  line-height: 1.5;
  letter-spacing: 0.02em;
  coloor: #434455;
}

.contacts-link {
  color: #2e2f42;
}

/* -----------    Contacts end   --------- */

/* -----------    Hero    --------- */

.hero {
  background: #2e2f42;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.hero-btn {
  font-weight: 500;
  border-radius: 4px;
  padding: 16px 32px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
}

.hero-btn:hover {
  background-color: #404bbf;
}

.hero-btn:focus {
  background-color: #404bbf;
}

/* -----------    Hero  end  --------- */

/* -----------    Advantages   --------- */

/* .advantages {
  width: 1128px;
  height: 104px;
} */

.advantages-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

/* .advantages-list {
}
.advantages-item {
} */

.advantages-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.advantages-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* -----------    Advantages end  --------- */

/* -----------    Team   --------- */

.team {
  background: #f4f4fd;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

/* .team-list {
} */
.team-item {
  background: #fff;
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  width: 264px;
  height: 380px;
}

/* .team-img {
} */

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/* -----------    Team end  --------- */

/* -----------    Portfolio  --------- */

/* .portfolio {
} */

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

/* .portfolio-list {
} */

.portfolio-item {
  background: #fff;
}

/* .portfolio-img {
  width: 360px;
  height: 300px;
} */

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* -----------    Portfolio end  --------- */

/* -----------    Footer   --------- */

.footer {
  background: #2e2f42;
}

.footer-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
}

.footer-logo {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/* -----------    Footer end  --------- */
