body {
    font-family: "Roboto", sans-serif;
    color: #2e2f42;
    width: 1440px;
    height: 732px;
    background: #fff;
}

/* -----------    Top-line    --------- */
.top-line-logo {
}
.top-line-link {
}
.logo-clr {
}
.top-line-list {
}
.top-line-item {
}
.top-line-menu-link {
}
.top-line-iteml {
}

/* -----------    Top-line end    -------- */


/* -----------    Contacts    --------- */


.contacts-title {
}
.contacts-list {
}
.contacts-item {
}


/* -----------    Contacts end   --------- */


/* -----------    Hero    --------- */


.hero {
}
.hero-title {
}
.hero-btn {
}


/* -----------    Hero  end  --------- */


/* -----------    Advantages   --------- */


.advantages {
}
.advantages-title {
}
.advantages-list {
}
.advantages-item {
}
.advantages-subtitle {
}
.advantages-item-text {
}


/* -----------    Advantages end  --------- */


/* -----------    Team   --------- */


.team {
}
.team-title {
}
.team-list {
}
.team-item {
}
.team-img {
}
.team-subtitle {
}
.team-item-text {
}


/* -----------    Team end  --------- */


/* -----------    Portfolio  --------- */


.portfolio {
}
.portfolio-title {
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-img {
}
.portfolio-subtitle {
}
.portfolio-item-text {
}


/* -----------    Portfolio end  --------- */


/* -----------    Footer   --------- */


.footer {
}
.footer-img {
}
.footer-text {
}


/* -----------    Footer end  --------- */